.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-body .q {
    font-size: 3em;
}

.App-body .a {
    font-size: 2em;
}

.App-body a.linkStart {
    font-size: 5em;
    color: White;
}

.App-body .show, .App .okAnswer, .App .wrongAnswer {
  font-size: 1.5em;
  margin: 1em 1em;
}

.App-body .okAnswer {
  background-color: Green;
  border-color: Green;
}

.App-body .wrongAnswer {
  background-color: Red;
  border-color: Red;
}